<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Beylikduzu Okuyor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="df_style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>src="html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-alpha1/html2canvas.js">
</script>
<script>
function download_table(){
                console.log("basildi")
html2canvas($('#preview-table'), {
        onrendered: function(canvas) {

            var saveAs = function(uri, filename) {
                var link = document.createElement('a');
                if (typeof link.download === 'string') {
                    document.body.appendChild(link); // Firefox requires the link to be in the body
                    link.download = filename;
                    link.href = uri;
                    link.click();
                    document.body.removeChild(link); // remove the link when done
                } else {
                    location.replace(uri);
                }
            };

            var img = canvas.toDataURL("image/png"),
                uri = img.replace(/^data:image\/[^;]/, 'data:application/octet-stream');

            saveAs(uri, 'tik_tablosu.png');
        }
    });

}
</script>
    <script type="text/javascript">

$('#export').on('click', function() {
    console.log('export basildi')
    html2canvas($('#preview-table'), {
        onrendered: function(canvas) {

            var saveAs = function(uri, filename) {
                var link = document.createElement('a');
                if (typeof link.download === 'string') {
                    document.body.appendChild(link); // Firefox requires the link to be in the body
                    link.download = filename;
                    link.href = uri;
                    link.click();
                    document.body.removeChild(link); // remove the link when done
                } else {
                    location.replace(uri);
                }
            };
s
            var img = canvas.toDataURL("image/png"),
                uri = img.replace(/^data:image\/[^;]/, 'data:application/octet-stream');

            saveAs(uri, 'tik_tablosu.png');
        }
    });
});

</script>

<style type="text/css">

body{
  background-image: url(http://www.joburgchiropractor.co.za/images/background.jpg);
}
.preview-table{
      background-color: white;
}
.mystyle {
    font-size: 12pt;
    font-family: Arial;
    border-collapse: collapse;
    border: 1px solid silver;

}

.mystyle td, th {
    padding: 5px;
}

.mystyle tr:nth-child(even) {
    background: #E0E0E0;
}
.mystyle tr:nth-child(odd) {
    background: #EDEDED;
}

.mystyle tr:hover {
    background: silver;
    cursor: pointer;
}






</style>



</head>
<body>

<!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
<div class="container" style="margin-top: 5%;">

<div class="col text-center">
<div class="row">
      <form action="/verii" method = "post">
         <p>Mesaj yapıştır:</p>
         <textarea id="w3review" name="veri" rows="15" cols="50"></textarea>
         <p><input type = "submit" value = "Gönder" onclick="do_change()" /></p>
      </form>



</div>

<div class="row text-center">
        <button id="export"  onclick="download_table()">Tablo indir</button>

 {{table|safe}}
</div>
</div>
<!-- This design is created by manoj chauhan  -->
</body>
</html>

